<h1 align = "center"> welcome to <%= @user.name %>'s page</h1>
<p> email address:<%= @user.email %></p>

<div class="row">
 <div class="col-md-4 col-md-offset-4 center">
  <%= gravatar_for @user %>
 </div>
</div>
<h4 align="center"><%= @user.username %>'s tasks</h4>

